// Color variables
$color-gold: rgb(218, 170, 14);
$color-lime: rgb(127, 236, 55);
$color-white: rgb(255, 255, 255);
$color-light-gray: rgb(212, 213, 216);
$color-light-green: rgb(170, 240, 113);
$color-blue: rgb(58, 107, 212);
$color-dark-gray: rgb(49, 49, 48);

// Font variables
$font-main: Arial, Helvetica, sans-serif;
$font-cursive: 'Sacramento', cursive;